# Wikipedia Dump
# --------------
WikipediaXMLDump  data/enwiki-20100312-pages-articles.xml


# DBpedia Datasets
# ----------------
labelsDataset           data/dbpedia/labels_en.nt
redirectsDataset        data/dbpedia/redirects_en.nt
disambiguationsDataset  data/dbpedia/disambiguations_en.nt
instanceTypesDataset    data/dbpedia/instance_types_en.nt


# Important created files
# -----------------------
conceptURIs    data/conceptURIs.list
redirects      data/redirects_tc.tsv
surfaceForms   data/surface_forms-Wikipedia-TitRedDis.tsv


# Stop word list
# --------------
StopWordList  data/stopword.list


# Yahoo! Boss properties
# ----------------------
# application ID
YahooBossAppID       please-specify-if-you-want-to-experiment-with-WebOccurrences!
# number of results returned at for one query (maximum: 50)
YahooBossResults     50
# number of iteration; each iteration returns YahooBossResults results
YahooBossIterations  100
## important for Yahoo! Boss query string: both language and region must be set according to
## http://developer.yahoo.com/search/boss/boss_guide/supp_regions_lang.html
Language             en
Region               us
