<configuration>

    <settings>
        <parameter name="rest_uri">http://localhost:2222/rest</parameter>
        <parameter name="language">English</parameter>
        <file name="stopwords">/data/spotlight/3.7/stopwords.en.list</file>
    </settings>

    <!--
        Some Spotters/Disambiguators require the input text to be analyzed.
        If you are using any of them, the models must be specified here.

        In our case, analysis means:
        - sentence detection
        - tokenization
        - part-of-speech tagging
    -->
    <text_analyzer id="opennlp">
        <file name="opennlp_sent"> </file>
        <file name="opennlp_token"> </file>
        <file name="opennlp_pos"> </file>
    </text_analyzer>

    <!--
    - Spotters
    -->
    <spotters>

        <spotter id="LingPipeSpotter">
            <file name="dictionary">/fastdata/spotlight/3.6/surface_forms-Wikipedia-TitRedDis.thresh3.spotterDictionary</file>
        </spotter>
twit
        <spotter id="LexicalizedNPSpotter">
            <file name="chunker_model">a</file>
            <file name="dictionary">/fastdata/spotlight/3.6/surface_forms-Wikipedia-TitRedDis.thresh3.spotterDictionary</file>
        </spotter>

        <spotter id="NESpotter">
            <file type="ne_model">a</file>
            <file type="ne_model">a</file>
            <file type="ne_model">a</file>
        </spotter>

    </spotters>


    <!--
    - Selectors
    -->
    <spot_selectors>

        <spot_selector id="NP*Selector" />

        <spot_selector id="CapitalizedSelector" />

        <spot_selector id="WhiteListSelector">
            <file name="dictionary">/fastdata/spotlight/3.6/surface_forms-Wikipedia-TitRedDis.thresh3.spotterDictionary</file>
        </spot_selector>

        <spot_selector id="CoOccurrenceBasedSelector">
            <database>
                <jdbc_driver>org.hsqldb.jdbcDriver</jdbc_driver>
                <connector>jdbc:hsqldb:file:/data/spotlight/3.7/database/spotlight-db;shutdown=true&amp;readonly=true</connector>
                <user>sa</user>
                <password>sa</password>
            </database>
            <file name="model_unigram"> </file>
            <file name="model_ngram"> </file>
        </spot_selector>

    </spot_selectors>

    <!--
    - Spotting policies
    -->
    <spotting_policies>

        <spotting_policy name="XYZ" default="1">
            <spotter       ref="NESpotter" />
            <spot_selector ref="NP*Selector" />
            <spot_selector ref="WhiteListSelector" />
        </spotting_policy>

    </spotting_policies>


    <disambiguators>
        <disambiguator id="lucene">

        </disambiguator>
    </disambiguators>


</configuration>